
<div id="questions_container">
  <% statements ||= @statements %>
  <ul>
    <% statements.each do |statement| -%>
      <li><%= link_to(statement.document.title, question_url(statement), :class => 'statement_link question_link') %></li>
    <% end -%>
  </ul>
</div>

