<div id="question_container">

<% statements ||= @statements %>
<% statements.each do |statement| -%>

  <div class="function_button_holder">
    <% link_to question_url(statement), :class => 'question_link' do %>
      <span class="function_button function_button_my_profile"></span>
    <% end %>
    <span class="function_name"><%= statement.document.title %></span><br/>
  </div>

<% end -%>

<%= will_paginate statements, :previous_label => '', :next_label => '' if defined? statements.total_pages %>
</div>
<script type="text/javascript">
  $('.pagination a').addClass('ajax');
</script>
