<% content_for :submenu, tabnav(:discuss) %>

<h1><%= I18n.t("discuss.#{@category.value.underscore}.title") %></h1>

<%= I18n.t("discuss.#{@category.value.underscore}.welcome_text") %><br/>

<% @statements.each do |statement| -%>

  <div class="function_button_holder">
    <% link_to question_url(statement), :class => 'question_link' do %>
      <span class="function_button function_button_my_profile"></span>
    <% end %>
    <span class="function_name"><%= statement.document.title %></span><br/>
  </div>

<% end -%>


<div id="new_statement">
  <%= create_question_link_for(@category)%>
</div>
