<% content_for :submenu, tabnav(:discuss) %>

<h1><%= I18n.t("discuss.topics.#{@category.value.underscore}.name") %></h1>
<%= I18n.t("discuss.topics.#{@category.value.underscore}.description") %>

<%= render :partial => 'questions', :locals => {:statements => @statements} %>

<%= create_question_link_for(@category)%>

