<% content_for :submenu, tabnav(:discuss) %>
<ul>
  <% @statements.each do |statement| -%>
    <li><%= link_to statement.document.title, question_url(statement), :class => 'question_link' %></li>
  <% end -%>
</ul>
<div id="new_statement">
<%= create_question_link_for(@category)%>
</div>
<script type="text/javascript">
  $("#new_statement a").addClass('ajax');
</script>
