<% content_for :submenu, tabnav(:discuss) %>

<h1><%= I18n.t("discuss.#{@category.value.underscore}.title") %></h1>

<%= I18n.t("discuss.#{@category.value.underscore}.welcome_text") %><br/>

<%= render :partial => 'questions', :locals => {:statements => @statements} %>

<div id="new_statement">
  <%= create_question_link_for(@category)%>
</div>
