<% content_for :submenu, tabnav(:discuss) %>

<h1><%= I18n.t('discuss.title') %></h1>

<%= I18n.t('discuss.welcome_text') %><br/>

<div class="function_button_holder">
  <% link_to hash_for_question_tags_path.merge( {:id=>'echonomyJAM'} ) do %>
    <span class="function_button function_button_my_profile"></span>
  <% end %>
  <span class="function_name">echonomy JAM</span><br/>
  <span class="function_description"><%= I18n.t('discuss.echonomy_jam.description') %></span>
</div>

<div class="function_button_holder">
  <% link_to hash_for_question_tags_path.merge( {:id=>'echocracy'} ) do %>
    <span class="function_button function_button_my_profile"></span>
  <% end %>
  <span class="function_name">echocracy</span><br/>
  <span class="function_description"><%= I18n.t('discuss.echocracy.description') %></span>
</div>
