<% Concernment.sorts.each do |sort, name| %>
  <h2><%= name %></h2>
  <div id="concernments_<%= sort %>" style="clear: both;">
    <%= render :partial => 'users/concernments/concernment', :collection => @profile.concernments.find_all_by_sort(sort) %>
  </div>
<% end %>
