
<%= form_remote_tag( :update => "invitedList", :position => "bottom",
			:before => "Element.show('invitedListHolder');",
			:url => { :controller => "invited_people",
								:action => "invite_person",
								:interested_person_id => @interested_person } ) %>

  Name <%= text_field_tag :name %> E-Mail <%= text_field_tag :email %>
  <%= submit_tag 'Invite' %>
</form>
