<% @membership = membership if membership.present? %>

<li id="<%= dom_id @membership %>" >
  <%=h "#{@membership.organisation} #{@membership.position}" %>

  <%= link_to "Edit", edit_user_membership_path(@membership.user, @membership), :class => 'ajax options_button' %>
  <%= link_to "Delete", user_membership_path(@membership.user, @membership), :class => 'ajax_delete options_button' %>  

</li>
