<li>
  <% form_remote_tag :url => user_memberships_path(@user), :method => :post do -%>
    <%= text_field :membership, :organisation %>
    <%= text_field :membership, :position %>
    <%= hidden_field :membership, :user_id, :value => @user.id %>
    <%= submit_tag 'Create', :class => 'submitButton' %>
  <% end %>
</li>
