<% content_for :submenu, tabnav(:connect) %>

<h1><%= I18n.t('my_echo.fill_out_profile.title') %></h1>

<%= I18n.t('my_echo.fill_out_profile.text') %><br/>

<%= render :partial => 'my_echo/my_profile' %>
