<div id="submenu">
  [info-picture]
  <div id="progressbar" class="ttLink" title="0%" style="width:200px; height: 12px; display: inline-block;"></div>
</div>

<h1><%= I18n.t('static.echo.connect.title') %></h1>

<p>
  <%= I18n.t('static.echo.connect.text_top') %>

  <ol><%= I18n.t('static.echo.connect.list') %></ol>

  <%= I18n.t('static.echo.connect.text_bottom') %>
</p>


<%# TODO javascript in corresponding js file! (connect.js?) %>
<script type="text/javascript">
  $("#progressbar").progressbar({
    value: 5
  });
</script>

