<% content_for :submenu, tabnav(:connect) %>

<h1><%= I18n.t('static.echo.connect.title') %></h1>

<p>
  <%= I18n.t('static.echo.connect.text_top') %>

  <ol><%= I18n.t('static.echo.connect.list') %></ol>

  <%= I18n.t('static.echo.connect.text_bottom') %>
</p>

