<%# TODO i18n %>

<h1>Administrative Features</h1>
<h2>Very private area! ;)</h2>

<p>
  Here you may find all these admin features - let's call it chief-mode! *hrhr*
</p>

<p>
  Edit <%= link_to 'Locales', locales_path %> over here.
</p>