/*
    Document   : application.css
    Created on : 15.09.2009, 08:34:36
    Author     : joe
    Description:
      General layouting for the logged in section.
*/

/* General styles */

#function_container h1 {
  color:        #21587f;
  font-size:    30px;
  margin:       7px 0px 20px;
}

#function_container h2 {
  color:        #7bb031;
  font-size:    15px;
  font-weight:  bold !important;
  margin:       18px 0px 5px;
}

/* Application layout stuff */

#logged_in_user {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 8px 12px 0 0;
  text-align: right;
}

#logged_in_user_pic {
  height: 45px;
  float: right;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#applicationContainer {
  width:       100%;
  z-index:     5;
  clear:       both;
  background:  #fff;
  position:    relative;
  overflow:    visible;
  margin-bottom:12px;
  min-height:  410px;
}

/* BORDER SECTION */

#applicationContainer .border {
  width:       100%;
  height:      16px;
  background:  url(../images/page/box/borders_7bb031_iwot_topbottom.png) repeat-x;
  position:    absolute;
  left:        0px;

}

#applicationContainer .bottom {
  background-position: bottom;
  bottom:      -16px;
}

#applicationContainer .top {
  background-position: top;
  top:         -16px;
}

#function_container {
  margin:      0 auto;
  width:       990px;
  overflow:    auto;
}

#messageContainer {
  width:       400px;
  margin:      0 auto;
}

#messageContainer div {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top:  0px;
  position: fixed;
}

#messageContainer #infoBox, #messageContainer #errorBox {
  z-index: 2000;
}

#messageContainer .infoErrorIcon {
  float: left;
  width: 16px;
  height: 16px;
  z-index: 2010;
}

#messageContainer .message , #messageContainer .closeButton {
  clear: both;
  position: relative;
  left: 23px;
  width: 350px;
  padding-right: 20px;
}


/* Submenu styling */

.submenu {
  margin:       0 auto;
  width:        990px;
  overflow:     auto;
  color:        #21587f;
  margin-bottom:11px;
  padding:      0 0 10px 0;
  z-index:      1;
  text-align:   center;
  background:   url(../images/page/separator_no_shadow.png) no-repeat bottom;
}

.submenu ul {
  margin: 0px;
  padding: 0px;
}

.submenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
  margin: 0 13px;
}

.submenu a {
  color: #21587f;
  background: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.submenu a:hover, .submenu a.active, .submenu a.active:hover {
  color: #7bb031;
}
