/*
    Document   : application.css
    Created on : 15.09.2009, 08:34:36
    Author     : joe
    Description:
      General layouting for the logged in section.
*/

/* GENERAL STYLES */

#function_container h1 {
  color:        #21587f;
  font-size:    30px;
  margin:       12px 0px 20px;
}

#function_container h2 {
  color:        #7bb031;
  font-size:    15px;
  font-weight:  bold !important;
  margin:       18px 0px 5px;
}


/* FUNCTION BUTTONS */

.text_button {
  color: #21587f;
  font-family: arial,Helvetica,sans-serif;
  font-size: 13px;
  margin-left: 10px;
  padding-left: 20px;
  text-decoration: none;
  border: none;
}

.text_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add_button {
  background:transparent url(../images/page/icons/add_button.png) no-repeat scroll 0 0;
  height: 20px;
  padding-left: 23px;
}

.edit_button {
  background:transparent url(../images/page/icons/edit_button.png) no-repeat scroll 0 0;
  height: 17px;
  line-height: 17px;
  display: inline-block;
}

.save_button {
  background:transparent url(../images/page/icons/save_button.png) no-repeat scroll 0 0;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}

.or_cancel {
  color: #21587f;
}

.cancel_button {
  padding-left: 0px;
}

.delete_button {
  background:transparent url(../images/page/icons/delete_button.png) no-repeat scroll 0 0;
  height: 16px;
  line-height: 17px;
  display: inline-block;
}

/* PAGINATION */

.pagination {
  clear: both;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 990px;
}

.pagination a, .pagination span {
  font-size: 15px;
  font-weight: bold;
  color: #21587f;
  padding: 0 3px;
  vertical-align: middle;
}

.pagination a:hover {
  color: #7bb031;
}

.pagination .current {
  color: #7bb031;
}

.pagination .prev_page, .pagination .next_page {
  display: inline-block;
  width: 37px;
  height: 39px;
  padding: 0;
}

.pagination .prev_page {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll left top;
}

.pagination .next_page {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll right top;
}

.pagination .prev_page:hover {
  background-position: 0 -39px;
}

.pagination .next_page:hover {
  background-position: -37px -39px;
}

.pagination .prev_page.disabled {
  background-position: 0 -78px !important;
}

.pagination .next_page.disabled {
  background-position: -37px -78px !important;
}


/* ASSETS */

.button_150 {
  border:       none;
  background:   #FFF url(../images/page/button_150.png) no-repeat scroll left top;
  width:        150px;
  height:       43px;
  line-height:  43px;
  display:      inline-block;
  font-size:    14px;
  font-weight:  bold;
  color:        #21587f;
  text-align:   center;
  vertical-align: middle;
  margin:       10px 0 0 -6px;
  padding:      0;
}

.button_150:hover {
  background-position: 0 -43px;
  color: #7bb031;
}


/* Application layout stuff */

#logged_in_user {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 8px 12px 0 0;
  text-align: right;
}

#logged_in_user_pic {
  height: 45px;
  float: right;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#applicationContainer {
  width:       100%;
  z-index:     5;
  clear:       both;
  background:  #fff;
  position:    relative;
  overflow:    visible;
  margin-bottom:12px;
  min-height:  410px;
}

/* BORDER SECTION */

#applicationContainer .border {
  width:       100%;
  height:      16px;
  background:  url(../images/page/box/borders_7bb031_iwot_topbottom.png) repeat-x;
  position:    absolute;
  left:        0px;

}

#applicationContainer .bottom {
  background-position: bottom;
  bottom:      -16px;
}

#applicationContainer .top {
  background-position: top;
  top:         -16px;
}

#function_container {
  margin:      0 auto;
  width:       990px;
  padding-bottom: 1px;
}

#messageContainer {
  width:       400px;
  margin:      0 auto;
}

#messageContainer div {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top:  0px;
  position: fixed;
}

#messageContainer #infoBox, #messageContainer #errorBox {
  z-index: 2000;
}

#messageContainer .infoErrorIcon {
  float: left;
  width: 16px;
  height: 16px;
  z-index: 2010;
}

#messageContainer .message , #messageContainer .closeButton {
  clear: both;
  position: relative;
  left: 23px;
  width: 350px;
  padding-right: 20px;
}


/* SUBMENUS */

.submenu {
  margin:       0 auto;
  width:        990px;
  overflow:     auto;
  color:        #21587f;
  margin-bottom:11px;
  padding:      0 0 10px 0;
  z-index:      1;
  text-align:   center;
  background:   url(../images/page/separator_no_shadow.png) no-repeat bottom;
  position:     relative;
  height:       20px;
}

.submenu ul {
  margin: 0px;
  padding: 0px;
}

.submenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
  margin: 0 13px;
}

.submenu a {
  color: #21587f;
  background: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.submenu a:hover, .submenu a.active, .submenu a.active:hover {
  color: #7bb031;
}

/* OTHER NAVIGATION*/

.function_button_holder {
  height:      85px;
  margin:      0px;
  padding:     0px;
}

.function_button {
  float:       left;
  margin:      0px;
  padding:     0px;
  width:       100%;
  height:      80px;
  position:    relative;
  left:        10px;
  z-index:     5;
  border:      none;
}

.function_button_my_profile {
  background:  url(../images/page/functions/my_profile.png) no-repeat scroll 0 0;
}

.function_button_connect {
  background:  url(../images/page/functions/connect.png) no-repeat scroll 0 0;
}

.function_button:hover {
  cursor:      pointer;
}

.function_name {
  font-size:   20px;
  font-weight: bold;
  color:       #21587f;
  position:    relative;
  top:         -70px;
  left:        140px;
}

.function_description {
  font-size:   14px;
  color:       #21587f;
  position:    relative;
  top:         -68px;
  left:        140px;
}

.function_button_holder:hover .function_name {
  color:       #7bb031;
}