/*
    Document   : connect.css
    Created on : 15.09.2009, 08:34:36
    Author     : joe
    Description:
      Design screen elements for connect section.
*/

/* SEARCH */

#search_container {
  margin:   25px auto 0;
  width:    500px;
}

#search_form {
  margin: 20px 0 2px;
  padding: 0;
  text-align: center;
}

#search_form #value {
  background: #FFF url(../images/page/searchbar_left.png) no-repeat scroll left top;
  width: 365px;
  height: 29px;
  border: none;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  color: #21587f;
  padding: 4px 0 0 11px;
}

#search_form input[type='submit'] {
  background: #FFF url(../images/page/searchbar_button.png) no-repeat scroll left top;
  width: 51px;
  height: 29px;
  border: none;
  display: inline-block;
  margin-left: -5px;
  cursor: pointer;
}

#search_form input[type='submit']:hover {
  background-position: 0 -29px;
}


/* SEGMENTS */

.segments {
  margin: 0 auto;
  width: 990px;
  color: #21587f;
  z-index: 1;
  text-align: center;
  position: relative;
}

.segments ul {
  margin: 0px;
  padding: 0px;
}

.segments li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
  margin: 0 8px;
}

.segments a {
  color: #21587f;
  background: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.segments a:hover, .segments a.active, .segments a.active:hover {
  color: #7bb031;
}


/* RESULTS */

.results_sort {
  width: 990px;
  background: url(../images/page/separator_no_shadow.png) no-repeat bottom;
  display: inline-block;
  padding-bottom: 7px;
  margin: 0 0 17px 0px;
  position: relative;
}

.results_count {
  color: #7bb031;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}

/* PROFILES */

#profiles_beginn {
  height: 10px;
  width: 100%;
  display: block;
  margin-top: 15px;
}

#profiles_container {
  padding: 45px 0 5px;
  margin: 0;
  width: 990px;
  background: #fff url(../images/page/box/blue_white_gradient.png) repeat-x left top;
  min-height: 195px;
}

#profiles_container .box_header_icon {
  background: url(../images/page/box/box_icon_people.png) repeat-x left top;
}

#profiles_container .no_results {
  display: block;
  width: 990px;
  margin: 0 auto;
  text-align: center;
  color: #21587f;
  font-size: 15px;
  position: absolute;
  top: 120px;
  cursor: default;
}

#profiles_container ul {
  margin: 0px;
  padding: 0px;
  min-height: 155px;
}

#profiles_container .profile {
  float:    left;
  width:    287px;
  height:   55px;
  list-style: none;
  display:  block;
  margin: 11px 10px 11px 30px;
  position: relative;
  overflow: hidden;
}

#profiles_container .profile .avatar_holder {
  float: left;
  width: 100%;
  height: 50px;
  padding: 1px 10px 0 0;
  position: absolute;
  left: 0px;
  top: 0px;
}

#profiles_container .profile img {
  max-width: 45px;
  max-height: 45px;
}

#profiles_container .profile .name {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 60px;
}

#profiles_container .profile:hover .name, #profiles_container .profile.active .name {
  color: #7bb031;
}

#profiles_container .profile .location_orga {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  left: 60px;
}

#profiles_container .profile.active:hover .close_hint {
  font-size: 12px;
  color: #7691A2;
  display: inline-block !important;
  position: absolute;
  right: 0px;
  top: 2px;
}

/* PROFILE DETAILS. */

#profile_details_container {
  clear: both;
  overflow: auto;
  height: 295px;
  margin: 25px 0 10px;
  position: relative;
}

#profile_details_container div {
  text-align: left;
}

#profile_details_tabs {
  margin-bottom: 15px;
}

#full_name {
  color: #7AB031;
  font-size: 18px;
  background: none;
  position: absolute;
  left: 10px;
  top: 9px;
  cursor: default;
}

#close_profile_details_container {
  color: #7691a2;
  font-size: 14px;
  background: none;
  position: absolute;
  right: 10px;
  top: 12px;
  text-decoration: none;
}

/* Avatar part */
#avatar {
  float:left;
  width: 140px;
  text-align: center !important;
}

#avatar img {
  max-width: 128px;
  max-height: 180px;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#avatar_location {
  display: block;
  width: 128px;
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  cursor: default;
}

#avatar_location span {
  font-weight: bold;
}

/* All tab content containers */
#profile_details_container .tab_content_container {
  position: absolute;
  left: 140px;
  width: 670px;
  min-height: 240px;
  padding: 0 15px;
}

/* Overview part */
#overview ul {
  margin: 0;
  padding: 0;
}

#overview li {
  list-style-type: none;
  line-height: 24px;
  width: 310px;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  margin: 0 8px 20px;
  
}

#overview li .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}

#overview li .value {
  color: #21587f;
  display: block;
  width: 290px;
}

#overview li .value .membership_organisation {
  font-size: 14px;
  font-weight: bold;
}

#overview #memberships, #overview #memberships .value {
  width: 630px;
}

/* Concernments */
#concernments {
  margin-left: 8px;
}

#concernments .label {
  color: #7bb031;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}

#concernments .values {
  color: #21587f;
  display: block;
  width: 630px;
  margin-bottom: 20px;
}

/* Web profiles */
#web_profiles {
  margin-left: 8px;
}

#web_profiles .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  display: inline-block;
  width: 150px;
  vertical-align: top;
}

#web_profiles .values {
  color: #21587f;
  display: inline-block;
  width: 480px;
  margin-bottom: 12px;
  vertical-align: top;
}

/* Overview & Concerments & Web Profiles */
#profile_details_container .tab_content_container .no_results {
  display: block;
  width: 670px;
  margin: 0 auto;
  text-align: center;
  color: #21587f;
  font-size: 15px;
  position: absolute;
  top: 55px;
  cursor: default;
}

#profile_details_container .label {
  cursor: default;
}

#profile_details_container .value, #profile_details_container .values {
  font-size: 14px;
  cursor: text;
}

/* Actions part */
#profile_details_container #actions {
  float: right;
  width: 128px;
  min-height: 128px;
  border-left: 1px solid #A8A8A8;
  text-align: center;
}

#actions .action_button {
  padding-left: 20px;
  font-size: 15px;
}

#actions .report_action {
  background: url(../images/page/icons/report.png) no-repeat scroll 0 0;
}

#actions .admin_action {
  background-color: #db4c3d;
  color: #fff;
  margin: 0 3px;
  padding: 3px 9px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

/* Report */

#new_report_form .hidden, #new_report_form .buttons {
  display: none;
}