/*
    Document   : connect.css
    Created on : 15.09.2009, 08:34:36
    Author     : joe
    Description:
      Design screen elements for connect section.
*/

#search_container {
  margin:   0 auto;
  width:    250px;
}

.pagination {
  clear:    both;
  margin:   0 auto;
  max-width:300px;
}
