body { 
	background:		#a8c642 url(../images/page/background.png) repeat-x;
	margin: 			0px;
  padding:      0px;
  font-family:  verdana, arial, helvetica, sans-serif;
  font-size:    13px;
  color:        #1A4864;
}

#headlogo {
  float:       left;
  margin:      0 0 -15px 20px;
}

#invitebubble {
  position:    relative;  
  float:       left;
  background:  url(../images/page/invitebubble_left.png) no-repeat;
  left:        -25px;
}

#invitebubble span {
  background:  transparent url(../images/page/invitebubble_right.png) no-repeat scroll right top;
  color:       #fff;
  display:     block;
  font-family: Arial,Helvetica,sans-serif;
  font-size:   9pt;
  height:      65px;
  left:        29px;
  padding:     20px 30px 0 15px;
  position:    relative;
}

#statementContainer {
  width:      65%;
  min-width:  540px;
  clear:      both;
  float: left;
  margin:     30px 0 0 0;
}

#statement {
  margin:     0 18px 0 0;
  height:     160px;
  background: transparent url(../images/page/statement_people.png) no-repeat scroll right bottom;
}

#videoContainer {
  width:      31%;
  min-width:  200px;
  float: right;
  margin:     30px 0 0 0;
}

#video {
  height:     160px;  
}

#echologicPromoContainer {
  width:       90%;
  min-width:   850px;
  margin:      0 auto;
  z-index:     5;
  position:    relative;
}

#echologicContainer {
  min-height: 600px; 
}

.staticMenuButton:hover {
  background:  url(../images/page/staticMenu/sidemenubutton_off_on.png) no-repeat scroll 0 100% !important;
  display:     block;
  height:      67px;
  width:       220px;
  padding:     30px 0 0 55px;
}

.staticMenuButton, .staticMenuButton:visited {
  background:  url(../images/page/staticMenu/sidemenubutton_off_on.png) no-repeat;
  display:     block;
  height:      67px;
  width:       220px;
  padding:     30px 0 0 55px;
}

#staticMenu a {
  text-decoration: none;
}

#staticMenu a img {
  float:       left;
  position:    relative;
  top:         -30px;
  border:      0;
  left:        -80px;
}

#staticMenu a .staticMenuButtonTitle {
  color:       #3a9401;
  font-size:   12pt;
  margin:      0 0 0 -80px;
}

#staticMenu a .staticMenuButtonSubtitle {
  color:       #1a4864;
  font-size:   14pt;
  margin:      0 0 0 -80px;
}

#staticMenu {
  float:      right;
  z-index:    20;
}

#echocracyContainer {
  min-height:  510px;
}

.testContainer {
  width:       90%;
  margin:      0 auto;
  z-index:     5;
}

.mainBox {
  width:       90%;
  min-width:   850px;
  margin:      0 auto;
  z-index:     5;
  clear:       both;
}

.boxRight {
  width:    23px;
  height:   23px;
  margin:   0 -23px 0 0;
  float:    right;
}

.boxLeft {
  width:    23px;
  height:   23px;
  margin:   0 0 0 -23px;
  float:    left;
}

.boxTop {
  background:  url(../images/page/box/top.png) repeat-x;
  height:      23px;
}

.boxBottom {
  background:  url(../images/page/box/bottom.png) repeat-x;
  height:      23px;
}

.boxTop .boxRight { background: url(../images/page/box/topright.png) no-repeat; }
.boxTop .boxLeft { background: url(../images/page/box/topleft.png) no-repeat; }
.boxBottom .boxRight { background: url(../images/page/box/bottomright.png) no-repeat; }
.boxBottom .boxLeft { background: url(../images/page/box/bottomleft.png) no-repeat; }

.boxMiddle {
  background: url(../images/page/box/right.png) repeat-y scroll right;
  position: relative;
  margin:   0 -23px 0 0;
}

.boxMiddleLeft {
  background: url(../images/page/box/left.png) repeat-y;
  float:    left;
  position: absolute;
  height:   100%;
  width:    23px;
  margin:   0 0 0 -23px;
}

.boxContent {
  background: #fff;
  margin:     0 23px 0 23px;
  padding:    5px;
}

.tabContainer {
  height:     61px;
  margin:     0 0 -23px 0;
  clear:      both;
  z-index:    10;
  overflow:   visible;
  left:       220px;
  position:   relative;
  max-width:  600px;
}

.tabContainer a, .tabContainer a:visited {
  display:    inline-block;
  height:     61px;  
  color:      #7bb031;
  font-size:  14px;
  font-weight:500;
  text-decoration: none; 
}

.tabContainer a:hover {
  color:      #1b4864;
}

.tabContainer a div {
  height:  61px;
  margin:  0 0 0 21px;
  padding: 0 21px 0 0;
  float:   left;
}

.activeTab, .activeTab:visited {
  background: url(../images/page/tabs/left_on.png) no-repeat scroll left;
  color:   #1b4864 !important;
}

.activeTab div {
  background: transparent url(../images/page/tabs/right_on.png) no-repeat scroll right;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

