@import "tabs.css";
@import "static_menu.css";
@import "box.css";
@import "static_content.css";
@import "tooltips.css";
@import "outer_menus.css";

body { 
  background:  #a8c642 url(../images/page/background.png) repeat-x;
  margin:      0px;
  padding:     0px;
  font-family: verdana, arial, helvetica, sans-serif;
  color:       #21587f;
}

strong {
  font-size:   105%
}

#wmd_text_area {
  width:       450px;
  height:      150px;
  border:      1px solid #999999;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  font-size:   90%;
}

#head {
  width:       970px;
  margin:      0 auto;
}

#headlogo {
  float:       left;
  margin:      0 0 -15px 0;
}

#headlogo img {
  border:      none;
}

#invitebubble {
  position:    relative;  
  float:       left;
  background:  url(../images/page/invitebubble_left.png) no-repeat;
  left:        -5px;
  top: 		   15px
}

#invitebubble span {
  background:  transparent url(../images/page/invitebubble_right.png) no-repeat scroll right top;
  color:       #fff;
  display:     block;
  font-family: Arial,Helvetica,sans-serif;
  font-size:   1.2em;
  font-weight: bolder;
  text-align:  center;
  height:      65px;
  left:        29px;
  padding:     15px 25px 0 10px;
  position:    relative;
}

#invitebubble span:hover {
  text-decoration: underline;
  cursor:      pointer;
}

#loginContainer {
  float:       right;
  clear:       right;
}

.rightFloating {
  float:       right;
}

#loginContainer .label {
  color:       #1A4864;
  width:       114px;
  display:     inline-block;
  margin:      15px 0 3px 0;
  padding:     0 7px;
  font-size:   0.7em;
  font-weight: bold;
  cursor:      default;
}

#loginContainer .field {
  width:       112px;
  background:  transparent url(../images/page/loginfield.png) no-repeat;
  border:      none;
  height:      19px;
  padding:     2px 7px 1px 7px;
  font-size:   0.85em;
  color:       #1A4864;
}

#loginContainer .submit {
  background:  transparent url(../images/page/button_login_off.png) no-repeat;
  width:       48px;
  border:      none;
  height:      19px;
  color:       #fff;
  font-size:   0.65em;
  font-weight: bold;
}

#loginContainer .submit:hover {
  background:  transparent url(../images/page/button_login_on.png) no-repeat !important;
}

#loginContainer .sublabel {
  width:       114px;
  display:     inline-block;
  margin:      3px 0;
  padding:     0 7px;
  font-size:   0.65em;
  cursor:      default;
}

#statementContainer {
  width:       65%;
  min-width:   540px;
  clear:       both;
  float:       left;
  margin:      0 0 0 0;
}

#statement {
  margin:      0 18px 0 0;
  height:      160px;
  background:  transparent url(../images/page/statement_people.png) no-repeat scroll right bottom;
}

#videoContainer {
  width:       31%;
  min-width:   200px;  
  float:       right;
	margin:      0;  
}

#video {
  height:      160px;
}

#echologicPromoContainer {
  width:       970px;
  min-width:   970px;
  margin:      0 auto;
  padding:     10px 23px 0 23px;
  z-index:     5;
  position:    relative;
  clear:       both;
}

.mainBox {
  width:       970px;
  min-width:   970px;
  margin:      0 auto;
}

#mainBoxContent {
  overflow-y:    auto;
  overflow-x:    hidden;
}

#staticContent {
  float:       left;
  width:       630px;
  padding:     2px 5px;
}

/* body and headings */

body, p, ol, ul, td {
  font-family:  "Lucida Sans",Arial,Helvetica,sans-serif;
  font-size:    14px;
}

h1, h2, h3, h4 {
  font-family:  "Lucida Sans",Arial,Helvetica,sans-serif;
  cursor:       default;
  font-weight:  normal;  
}

h1 {
  color:        #21587f;
  font-size:    2.1em;
  margin-top:   0;
}

h2 {
  color:        #21587f;
  font-size:    1.5em;
  padding:      12px 0 0;
}

h3 {
  color:        #21587f;
  font-size:    1.2em;
  font-weight:  bold;
}

h4 {
  color:        #7BB031;
  font-size:    1.1em;
  margin-top:   -22px;
  padding:      0 0 0 2px;
}

