body { 
	background:		#a8c642 url(../images/page/background.png) repeat-x;
	margin: 			0px;
}

#statementContainer {
  min-height: 160px;
  width:      600px;
  margin:     0 0 0 20px;
  padding:    15px;
  clear:      both;
  float:      left;
}

#videoContainer {
  min-height: 160px;
  width:      300px;
  margin:     0 20px 0 0;
  padding:    15px;
  float:      left;
}

#echologicContainer {
  width:      930px;
  margin:     0 20px 0 20px;
  padding:    15px;
  clear:      both;
}

#staticMenuButton {
	background:		url(../images/page/staticMenu/sidemenubutton_off.png) no-repeat;
	background-position: 10px 0px;
  width:        285px;
}

.staticMenuButton2 {
  width:      250px;
  height:     55px;
  overflow:   visible;
}

.staticMenuButtonImage {
  position:    relative;
  top:         -22px;
  left:        -40px;
}

#staticMenu {
  float:      right;
}

.staticMenuButton2 .sb-border { background:#bac8d0 !important; }
.staticMenuButton2:hover .sb-inner { background:#bbb !important; }

#statementContainer .sb-inner,  #videoContainer .sb-inner, #echologicContainer .sb-inner { background:#fff; }
#statementContainer .sb-shadow, #videoContainer .sb-shadow, #echologicContainer .sb-shadow { background:#444; }
#statementContainer .sb-border, #videoContainer .sb-border, #echologicContainer .sb-border { background:#7ab031; }

div {
  margin:	      0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

