/* Form styles */

.formBlock {
  margin:       10px 10px 8px 0;
}

.echoForm label {
  font-weight:  bold;
  color:        #7bb031;
}

.echoForm input[type='text'] {
  width:        225px;
  color:        #21587F;
  border:       1px inset #21587F;
}

.echoForm textarea {
  width:        300px;
  height:       150px;
  color:        #21587F;
  border:       1px inset #21587F;
}

.formButton200 {
  border:       none;
  background:   #FFF url(../images/page/button_200.png) no-repeat scroll left top;
  width:        200px;
  height:       43px;
  display:      inline-block;
  font-size:    14px;
  font-weight:  bold;
  color:        #21587f;
  text-align:   center;
  margin:       13px 0 0 -6px;
  padding:      0 0 4px 20px;
  overflow:     hidden;
}

.formButton200:hover {
  background-position: 0 -43px;
}

.formButton250 {
  border:       none;
  background:   #FFF url(../images/page/button_250.png) no-repeat scroll left top;
  width:        250px;
  height:       43px;
  display:      inline-block;
  font-size:    14px;
  font-weight:  bold;
  color:        #21587f;
  text-align:   center;
  margin:       13px 0 0 -6px;
  padding:      0 0 4px 20px;
  overflow:     hidden;
}

.formButton250:hover {
  background-position: 0 -43px;
}

.formButton300 {
  border:       none;
  background:   #FFF url(../images/page/button_300.png) no-repeat scroll left top;
  width:        300px;
  height:       43px;
  display:      inline-block;
  font-size:    14px;
  font-weight:  bold;
  color:        #21587f;
  text-align:   center;
  margin:       13px 0 0 -6px;
  padding:      0 0 4px 20px;
  overflow:     hidden;
}

.formButton300:hover {
  background-position: 0 -43px;
}

.hint {
  font-size:    12px;
  font-weight:  normal;
  color:        #999;
  padding:      0 0 0 1px;
}
