/* Styles for body, headings and standard HTML elements. */

body {
  background:  #a8c642 url(../images/page/background.png) repeat-x;
  margin:      0px;
  padding:     0px;
  color:       #21587f;
  text-align:  left;
  overflow-y:  scroll;
}

body, p, ol, ul, td {
  font-family: "Lucida Sans",Arial,Helvetica,sans-serif;
  font-size:   14px;
}

p, li * {
  line-height:  1.25em;
}

strong {
  font-size:    1.05em;
}

h1, h2, h3, h4 {
  font-family:  "Lucida Sans",Arial,Helvetica,sans-serif;
  cursor:       default;
  font-weight:  normal !important;
}

#staticContent h1 {
  color:        #21587f;
  font-size:    29px;
  margin:       5px 0px 0px;
}

#staticContent h2 {
  color:        #7BB031;
  font-size:    15px;
  margin:       -4px 0 20px 2px;
}

#staticContent h3 {
  color:        #21587f;
  font-size:    21px;
  padding:      4px 0 0;
}

#staticContent h4 {
  color:        #21587f;
  font-size:    17px;
  font-weight:  bold;
}

a {
  color:        #7bb031;
  text-decoration: none;
  cursor:       pointer;
}

.link {
  cursor:       pointer;
}

.floatLeft {
  float:       left;
}

.floatRight {
  float:       right;
}

.clear {
  clear:        both;
}

.clearLeft {
  clear:        left;
}

.clearRight {
  clear:        right;
}
