/*
 * Contains the styling information for top and bottom menu.
 */

/* Top menu */

#topMenuContainer {
  position:    relative;
  float:       right;
  width:       300px;
  overflow:    visible;
  height:      20px;
  font-size:   12px;
}

#topMenuContainer a, #topMenuContainer a:visited {
  color:       #7691A2;
  font-family: arial,Helvetica,sans-serif;
  margin:      5px 2px 0 15px;
  text-decoration:none;
  float:       right;
  font-size:   12px;
}

#topMenuContainer a img {
  border:      0px;
}

#topMenuContainer a:hover {
  color:       #1A4864;
}

#languageChooser {
  background:  transparent url(../images/page/icons/babelfish.png) no-repeat scroll;
  padding:      0 0 0 20px;
}

.topMenuItem {
  margin:       0 0 0 6px;
}

/* Language selector */

#overlay {
  background:  transparent;
  position:    fixed;
  left:        0;
  top:         0;
  width:       100%;
  height:      100%;
  z-index:     500;
  cursor:      default;
}

#languageSelector {
  background:  transparent; 
  position:    absolute;
  top:         25px;
  right:       -17px;
  text-align:  right;
  width:       200px;
}

#languageSelector, #languageSelector * {
  z-index:     510;
}

#languageSelector li {
  background:  transparent url(../images/page/dropdown/middle.png) repeat-y;
  list-style-position: inside;
  margin:      0px;
}

#languageSelector li:first-child a {
  border-top: none;
}

#languageSelector ul {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

#languageSelector a, #languageSelector a:visited {
  border-top:1px solid #efefef;
  margin-right: 20px;
  padding: 4px 0;
  float: none;
  width: 160px;
  display: inline-block;
}

/* Buttom menu */

#bottomMenuContainer {
  width:       945px;
  margin:      2px auto 13px;
  text-align:  center;
  font-size:   12px;
}

#bottomMenuContainer a, #bottomMenuContainer a:visited {
  padding:     0 0 0 5px;
  color:       #21587f;
  font-family: arial,Helvetica,sans-serif;
  text-decoration: none;
}

#bottomMenuContainer a:hover {
  color:       #FFF;
}