/*
 * Contains the styling information for top and bottom menu.
 */

/* Top menu */

#topMenuContainer {
  position:    relative;
/*  float:       right;*/
/*background: #000;*/
/*display: inline-block;*/
  /*width:       300px;*/
/*  overflow:    visible;*/
/*  height:      20px;*/
  /*font-size:   12px;*/
}

#topMenuContainer a, #topMenuContainer a:visited {
  color:       #7691A2;
  font-family: arial,Helvetica,sans-serif;
  margin:      5px 2px 0 10px;
  padding-left: 20px;
  text-decoration:none;
  float:       right;
  font-size:   12px;
}

#topMenuContainer a img {
  border:      0px;
}

#topMenuContainer a:hover {
  color:       #1A4864;
}

#feedback_button {
  background:  transparent url(../images/page/icons/feedback.png) no-repeat scroll;
}

#about_echo_button {
  background:  transparent url(../images/page/icons/about.png) no-repeat scroll;
}

#echo_language_button {
  background:  transparent url(../images/page/icons/babelfish.png) no-repeat scroll;
}

#logout_button {
  background:  transparent url(../images/page/icons/logout.png) no-repeat scroll;
}

#feedback_button:hover, #about_echo_button:hover, #logout_button:hover {
  background-position: 0 -16px;
}

#language_selector {
  position:    absolute;
  min-width:   100px;
  z-index:     510;
}

#language_selector ul {
  list-style-type:none;
  padding: 0;
  margin: -5px 0 0 0;
}

#language_selector li {
  list-style-position: inside;
  padding: 0;
  border-top: 1px solid #efefef;
}

#language_selector li:first-child {
  border-top: none;
}

#language_selector a, #language_selector a:visited {
  padding: 0;
  float: none;
  display: inline-block;
}

/* Buttom menu */

#bottomMenuContainer {
  width:       945px;
  margin:      2px auto 10px;
  text-align:  center;
  font-size:   12px;
  padding-top: 8px;
}

#bottomMenuContainer a, #bottomMenuContainer a:visited {
  padding:     0 0 0 5px;
  color:       #21587f;
  font-family: arial,Helvetica,sans-serif;
  text-decoration: none;
}

#bottomMenuContainer a:hover {
  color:       #FFF;
}