/*
    Document   : profile
    Created on : 17.09.2009, 09:52:01
    Author     : xijo
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#profile_avatar_container {
  width: 140px;
  float: left;
  text-align: center;
}

#profile_avatar_container img {
  width: 128px;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.header_block {
  background: url(../images/page/header_left.png) no-repeat scroll left top;
  padding: 6px 0 0 15px;
  margin: 20px 0px 25px 165px;
}

.header_block h2 {
  background: url(../images/page/header_right.png) no-repeat scroll right top;
  height: 31px;
  margin: -6px 0 10px !important;
  line-height: 31px;
  vertical-align: middle;
  color: #21587f !important;
}

.header_block ul {
  margin: 0;
  padding: 0;
}

.header_block li {
  list-style-type: none;
  line-height: 24px;
}

.header_block li span {
  min-width: 110px;
  display: inline-block;
  font-weight: bold;
}

.header_block .guide {
  color: #aaa;
  font-size: 12px;
}


/* Styling for profiles in the profile container at the connect area. */
#profile_container .profile {
  float:    left;
  width:    300px;
  height:   70px;
  list-style: none;
  display:  block;
}

#profile_container .profile .show_link {
  float:    left;
}
