/*
    Document   : profile
    Created on : 17.09.2009, 09:52:01
    Author     : xijo
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#profile_avatar_container {
  width: 140px;
  float: left;
  text-align: center;
}

#profile_avatar_container img {
  width: 128px;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#concernment_container .form_container {
  width: 410px;
  margin: 7px 0 25px;
  display: inline-block;
  vertical-align: top;
}

#concernment_container .label {
  color: #7bb031;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  cursor: default;
}

#concernment_container form input[type='text'] {
  width: 250px !important;
}

#concernment_container .tag_container {
  display: inline-block;
  width: 383px;
  margin: 23px 0 0;
  padding: 2px 4px;
  min-height: 30px;
  border: 1px solid #999;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#concernment_container .tag {
  font-size: 13px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #DDD;
  padding: 3px 7px;
  margin: 4px 1px;
  display: inline-block;
}

.header_block {
  background: url(../images/page/header_left.png) no-repeat scroll left top;
  padding: 6px 0 0 15px;
  margin: 20px 0px 25px 165px;
}

.header_block h2 {
  background: url(../images/page/header_right.png) no-repeat scroll right top;
  height: 31px;
  margin: -6px 0 10px !important;
  line-height: 31px;
  vertical-align: middle;
  color: #21587f !important;
}

.header_block h3 {
  color: #7bb031;
  font-size: 14px;
  font-weight: bold;
}

.header_block ul {
  margin: 0;
  padding: 0;
}

.header_block li {
  list-style-type: none;
  line-height: 24px;
  display: block;
  vertical-align: middle;
  cursor: default;
}

.two_columns_block li {
  list-style-type: none;
  line-height: 24px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
}

.header_block li .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.header_block li .value {
  color: #21587f;
  display: block;
  width: 375px;
  overflow: hidden;
}

.header_block li .value a {
  color: #21587f;
}

.header_block .guide {
  color: #21587f;
  font-size: 13px;
  line-height: 18px;
  margin: 10px 0;
  cursor: default;
}

.header_button {
  position: relative;
  float: right;
  margin: -34px 15px 0 0;
}

.column_200 {
  width: 195px !important;
  padding: 2px !important;
  display: inline-block !important;
  vertical-align: top;
  overflow: hidden;
}

.header_block input[type="text"] {
  border: 1px solid #999;
  color: #21587F;
  font-size: 14px;
  min-height: 18px;
  width: 195px;
  margin: 1px;
}

.header_block select {
  border: 1px solid #999999;
  color: #21587F;
  padding: 2px;
  width: 195px;
}

#profile_completeness_bar {
  width: 130px;
  height: 9px;
  display: inline-block;
  margin-left: 10px;
}