ul.benefitList {
  margin-top: 22px;
}

ul.spreadedList li {
  margin: 15px 0;
}

/* (un)sorted list */
li {
  margin: 6px 0;
}

/* more buttons */
.moreButton {
  cursor:   pointer;
  color:    #7BB031;
}

.moreButton:hover {
  border-bottom: 1px dotted #7BB031;
}

.hideButton {
  cursor:   pointer;
  color:    #21587f;
}

.hideButton:hover {
  border-bottom: 1px dotted #21587f;
}