/* staticMenu is deprecated and can be removed if no issues with the new static_menu version are found. */

#staticMenu {
  float:      right;
/*  z-index:    20;*/
  width:      275px;
  margin-bottom: -12px;
}

.staticMenuButton, .staticMenuButton:visited {
  background:  url(../images/page/staticMenu/main_menu_button.png) no-repeat scroll 0 0;
  display:     block;
  height:      67px;
  width:       220px;
  padding:     29px 0 2px 55px;
}

.staticMenuButton:hover {
  background-position: 0 -97px;
}

#staticMenu a {
  text-decoration: none;
}

#staticMenu .menuImage {
  background-position:  0 0;
  float:       left;
  position:    relative;
  top:         -30px;
  border:      0;
  left:        -80px;
  width:       95px;
  height:      97px;
}

#staticMenu .activeMenu {
  background-position: 0 -97px !important;
}

#staticMenu a .menuTitle {
  color:       #7BB031;
  font-size:   16px;
  margin:      0 0 0 -80px;
  line-height: 18px;
}

#staticMenu a .menuSubtitle {
  color:       #1a4864;
  font-size:   19px;
  margin:      0 0 0 -80px;
  line-height: 24px;
}


/* STATIC MENU REWRITE */

#static_menu {
  float:      right;
  width:      275px;
  margin-top: -12px;
  margin-right:30px;
}

#static_menu ul { list-style-type: none; }
#static_menu li { margin: 0; }

#static_menu img {
  background-position:  0 0;
  float:       left;
  position:    relative;
  top:         -30px;
  border:      0;
  left:        -80px;
  width:       95px;
  height:      97px;
}

#static_menu a, #static_menu a:visited {
  background:  url(../images/page/staticMenu/main_menu_button.png) no-repeat scroll 0 0;
  display:     block;
  height:      67px;
  width:       220px;
  padding:     29px 0 2px 55px;
}

#static_menu a:hover {
  background-position: 0 -97px;
}

#static_menu a .title {
  color:       #7BB031;
  font-size:   16px;
  margin:      0 0 0 -80px;
  line-height: 18px;
}

#static_menu a .subtitle {
  color:       #1a4864;
  font-size:   19px;
  margin:      0 0 0 -80px;
  line-height: 24px;
}

#static_menu a .img {
  background:  url(../images/page/staticMenu/echologic.png) no-repeat scroll 0 0;
  float:       left;
  position:    relative;
  top:         -30px;
  border:      0;
  left:        -80px;
  width:       95px;
  height:      97px;
  display:     inline-block;
}

#static_menu a .echologic_image { background:  url(../images/page/staticMenu/echologic.png) no-repeat scroll 0 0; }
#static_menu a .echo_image      { background:  url(../images/page/staticMenu/echo.png)      no-repeat scroll 0 0; }
#static_menu a .echocracy_image { background:  url(../images/page/staticMenu/echocracy.png) no-repeat scroll 0 0; }
#static_menu a .echonomy_image  { background:  url(../images/page/staticMenu/echonomy.png)  no-repeat scroll 0 0; }
#static_menu a .join_image      { background:  url(../images/page/staticMenu/join.png)      no-repeat scroll 0 0; }

#static_menu .active .img {
  background-position: 0 100% !important;
}
