ul.benefitList {
  margin-top: 22px;
}

ul.spreadedList li {
  margin: 15px 0;
}

/* (un)sorted list */
li {
  margin: 6px 0;
}

/* more buttons */
.moreButton, .hideButton {
  cursor:   pointer;
  color:    #7BB031;
}

.moreButton:hover, .hideButton:hover {
  border-bottom: 1px dotted #7BB031;
}