/* */
.moreButton {
  cursor:   pointer;
  color:    #a8c642;
  text-decoration: underline;
}

.moreButton:hover {
  color:    #000;
}

.moreContent {
  background: #ccc;
  padding:  10px;
}
