
/*  Container which holds all tabs. With specified height and negative margin
    it takes care for the correct positioning and overlapping with 'mainBox'

    20.8.2009 - Joe (tested: ie8, ff3, ff2):
        - margin to margin-left: centering in ff2
        - display block and min-height for jquery's visible check
        - margin moved to single tabs
    10.10.2009 - Joe
        - min-height for empty tab container
    13.10.2009 - Joe
        - now wraps 'applicationTabs' container, which is generated through
          rails-widgets.
*/

.tabContainer {
  margin:       0 auto;
  padding-top:  1px;
  overflow:     visible;
  position:     relative;
  clear:        both;
  width:        900px;
  text-align:   center;
  z-index:      10;
  min-height:   1px;
  display:      block;
}

.tabContainer .applicationTabs {
  width: 900px;
}

.tabContainer .applicationTabs a {
  font-size:    15px !important;
  font-weight:  normal;
  min-width:    75px !important;
}

/* APPLICATION TABS SECTION */
.applicationTabs {
  margin:       0 auto;
  overflow:     visible;
  position:     relative;
  clear:        both;
  width:        970px;
  text-align:   center;
  z-index:      10;
  min-height:   1px;
  display:      block;
}

.applicationTabs ul {
  margin: 4px 0 7px;
  padding: 0px;
}

.applicationTabs li {
  background:   url(../images/page/tabs/mainmenu_left_off.png) no-repeat scroll left top;
  height:       51px;
  display:      inline-block;
  color:        #7bb031;
  border:       0px;
  margin:       0px;
  text-decoration: none;
  font-size:    15px;
}


.applicationTabs a, .applicationTabs a.active {
  background:   transparent url(../images/page/tabs/mainmenu_right_off.png) no-repeat scroll right top;
  margin:       0 0 0 21px;
  padding:      0 21px 0 0;
  float:        left;
  height:       51px;
  line-height:  54px;
  font-size:    18px;
  min-width:    85px;
}

.applicationTabs a.active {
  font-weight:  bold;
}

.applicationTabs a:visited {
  color:       #7bb031;
}

.applicationTabs a:hover {
  color:       #21587f;
}

.applicationTabs li.active {
  background:  url(../images/page/tabs/mainmenu_left_on.png) no-repeat scroll left top !important;
}

.applicationTabs a.active {
  background: transparent url(../images/page/tabs/mainmenu_right_on.png) no-repeat scroll right top !important;
  color:       #21587f !important;
}

/* My echo tab */
#my_echo_tab_container {
  position: absolute;
  right: 55px;
  top: 0px;
}

/* Admin tab */
#admin_tab_container {
  position: absolute;
  left: 4px;
  top: 0px;
}

#roadmap_tab_container {
  float: right;
  position: relative;
  right: 10px;
  margin-left: -300px;
}

#roadmap_tab {
  height: 32px;
}

#roadmap_tab_title {
  background: transparent url(../images/page/icons/under_construction.png) no-repeat scroll left center;
  padding-left: 23px;
}

#roadmap_progressbar {
  width: 130px;
  height: 9px;
  display: inline-block;
  margin-left: 10px;
}