/* Tooltips CSS definitions */	

/* Container to hold the tooltip. */
#tooltip {
	position:   absolute;
	z-index:    3000;
	border:     none;
	-moz-border-radius: 8px;
	background-color:   #7AB030;
	padding:    3px 8px 7px;
	max-width:  450px;
}

#tooltip h3, #tooltip div { margin: 0; }

/* Text inside of the tooltip. */
#tooltip h3 {
	color:      #fff;
	font-size:  12px;

}

/* Tooltipable links. */
.ttLink, .ttLink:visited {
  cursor: help;
  color: #21587f;
  text-decoration: none;
  border-bottom: 1px dotted #7ab030;
}

.ttLink:hover {
  border-bottom: 1px solid #7ab030;
}
