<span id="<%= dom_id concernment %>" style="background:#ddd; padding: 4px 6px; -moz-border-radius: 12px; margin: 4px; white-space: nowrap; display: inline-block;">
  <%= concernment.tag.value %> <%= link_to 'x', url_for(:controller => 'concernments', :action => 'destroy', :id => concernment.id), :class => 'ajax' %>
</span>
