<div id="concernment_container" class="header_block">
  <h2><%= I18n.t('users.concernments.title') %></h2>

  <div class="guide">
    <%= I18n.t('users.concernments.guide') %>
  </div>
  <% concernments = @user.concernments %>

  <% Concernment.sorts.each do |sort, name| %>

    <h3><%= I18n.t("users.concernments.sorts.#{name}") %></h3>
    <%= render :partial => 'users/concernments/list', :locals => { :concernments => concernments.find_all_by_sort(sort), :sort => sort } %><br/>

  <% end %>

</div>

<script type="text/javascript">
  $(".tag_value_autocomplete").autocomplete("users/concernments/auto_complete_for_tag_value");
</script>
