<div id="concernment_container" class="details_container">
  <div class="comment">
    <%= I18n.t('users.concernments.comment') %>
  </div>
  <% concernments = @user.concernments %>

  <% Concernment.sorts.each do |sort, name| %>
  
    <h2><%= name %></h2>
    <%= render :partial => 'users/concernments/list', :locals => { :concernments => concernments.find_all_by_sort(sort), :sort => sort } %><br/>
      
  <% end %>

</div>

<script type="text/javascript">
  $(".tag_value_autocomplete").autocomplete("users/concernments/auto_complete_for_tag_value");
</script>
