<% statements ||= @statements 
   statement ||= @statement 
%>
<div id="children_list">
  <% statements.each do |sm| %>
    <%= render :partial => 'statements/child', :locals => {:statement => sm } %>
  <% end %>
  <%= will_paginate statements if defined? statements.total_pages %>
</div>
<script type="text/javascript">
  $("#children_list a").addClass('ajax');
</script>
