<% statements ||= @statements || [] %>
<h1><%=statements.first.class.display_name.pluralize if statements.any?%></h1>
<% statements.each do |statement| %>
<%= render :partial => 'statements/child', :locals => {:statement => statement } %>
<% end %>
