<% statements ||= @statements || []
   statement ||= @statement
%>
<div id="children_list">

  <!-- Show children. -->
  <ul>
    <% statements.each do |sm| %>
      <%= render :partial => 'statements/child', :locals => {:statement => sm } %>
    <% end %>
  </ul>

  <%= will_paginate statements, :previous_label => '', :next_label => '' if defined? statements.total_pages %>
</div>

<script type="text/javascript">
  $('.pagination a').addClass('ajax');
</script>
