<% statement ||= @statement %>

<li id="<%= statement_dom_id(statement) %>" class="<%=statement.parent.class.name.downcase%>">
  <%= link_to(statement.title, url_for(statement), :class => "ajax statement_link #{statement.class.name.underscore}_link") %>
  <%= supporter_ratio_bar(statement) %>
</li>
