<% statement ||= @statement 
   extra_classes ||= nil %>

<li id="<%= statement_dom_id(statement) %>" class="<%=statement_class_dom_id(statement)%>">
  <%= link_to(statement.title, url_for(statement), :class => "ajax statement_link #{statement_class_dom_id(statement)}_link #{extra_classes}") %>
  <%= supporter_ratio_bar(statement) %>
</li>
