<%
  children ||= @children 
  statement ||= @statement
  has_children = statement.class.expected_children.any?
%>

<div id="children" class="<%= has_children ? 'header_block discuss_right_block' : '' %>">
  <% if has_children %>
    <h2><%= children_box_title(statement) %></h2>
    <%= create_children_statement_link(@statement) %>
    <%= render :partial => 'statements/children_list', :locals => {:statement => statement, :statements => children}%>
  <% end -%>
</div>
