<% statement ||= @statement %>

<div id="context">

  <% arr = [statement.root, statement.parent, statement].compact.uniq || [] %>
  <% arr.each do |s| %>
  <div class="context_line">
    <div class="context_buttons"><%= prev_next_buttons(s) %></div>
    <div class="context_link"><%= statement_context_link(s)%></div>
  </div>
  <% end %>

</div>
