<% statement ||= @statement -%>

<div id="summary" class="summary header_block discuss_right_block">
  <h2><%= statement.class.display_name %> Summary</h2>
  <%= render :partial => 'statements/form', :locals => {:statement => statement} %>
</div>

<script type="text/javascript">
  $('#edit_<%= dom_id(statement) %>').ajaxForm({ dataType : 'script' });
</script>
