<% statement ||= @statement %>

<div id="summary" class="summary">
  <h1><%= statement.class.display_name %> Summary</h1>
  <%= "<b>Support:</b>#{supporter_ratio_bar(statement,'summary')}<br/>" unless statement.question? %>
  <%= statement.text %>
</div>
