<div id="context">
  <%= render :partial => 'statements/context', :locals => {:statement => @statement} %>
</div>
<div id="sidebar">
</div>
<div id="summary">
  <%= render :partial => 'statements/summary', :locals => {:statement => @statement} %>
</div>
<div id="children">
  <%= render :partial => 'statements/children', :locals => {:statements => @children, :statement => @statement } %>
</div>
