<%
# Render submenu tabs for act section.

render_tabnav :connect,
              :generate_css => false, :html => {:class => 'submenu'} do

  add_tab :html => { :id => 'explore_tab' } do |t|
    t.named I18n.t('layouts.connect.tabs.search')
    t.links_to hash_for_connect_path
    t.highlights_on :action => 'search'
    t.highlights_on :action => 'fill_out_profile'
  end

  add_tab :html => {:id => 'roadmap_tab'} do |t|
    value = '<span id="roadmap_tab_title">' + I18n.t('application.roadmap.title') + '</span>'
    value += insert_progressbar(Development::CONNECT_PROGRESS)
    t.named value
    t.links_to url_for(:controller => 'connect', :action => 'roadmap')
    t.highlights_on :action => :roadmap
  end

end
%>
