<%
# Render submenu tabs for act section.

render_tabnav :discuss,
              :generate_css => false, :html => {:class => 'submenu'} do

  add_tab :html => {:id => 'roadmap_tab'} do |t|
    value = '<span id="roadmap_tab_title">' + I18n.t('application.roadmap.title') + '</span>'
    value += insert_progressbar(Development::DISCUSS_PROGRESS)
    t.named value
    t.links_to hash_for_discuss_path
  end

end
%>
