<%
# Render submenu tabs for my echo section.

render_tabnav :my_echo,
              :generate_css => false, :html => {:class => 'submenu'} do

  add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.welcome')
    t.links_to hash_for_welcome_path
  end

  add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.profile')
    t.links_to hash_for_my_profile_path
  end

end
%>

<div class="separator-no-shadow"></div>
