<%
# Render submenu tabs for my echo section.

render_tabnav :my_echo,
              :generate_css => false, :html => {:class => 'submenu'} do

  add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.welcome')
    t.links_to hash_for_welcome_path
  end

  add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.profile')+' <span id="my_profile_completeness">('+I18n.t('layouts.my_echo.profile_complete', :complete => current_user.profile.percent_completed || 0)+')</span>'
    t.links_to hash_for_my_profile_path
  end

  add_tab :html => {:id => 'roadmap_tab'} do |t|
    value = '<span id="roadmap_tab_title">' + I18n.t('application.roadmap.title') + '</span>'
    value += insert_progressbar(Development::MY_ECHO_PROGRESS)
    t.named value
    t.links_to hash_for_my_echo_path
  end

end
%>
