<div class="function_button_holder">
  <%= link_to('<span class="function_button function_button_my_profile"></span>', {:url => my_profile_path}, :href => my_profile_path) %>
  <span class="function_name"><%= I18n.t('welcome.function_1.name') %>
    (<%=I18n.t('layouts.my_echo.profile_complete', :complete => current_user.profile.percent_completed || 0)%>)
  </span>
  <br/>  
  <span class="function_description"><%= I18n.t('welcome.function_1.description') %></span>
</div>
