<div id="password_container" class="header_block">
  <h2><%= I18n.t('users.profile.password.title') %></h2>

  <% form_tag password_resets_path, :id => 'new_password_form' do %>
    <%= hidden_field_tag :email, @profile.user.email %>
    <%= submit_tag I18n.t('users.password_reset.step1_mail'), :alt => 'text_button add_button' %>
  <% end %>
</div>

<script type="text/javascript">
  $("#new_password_form").ajaxForm({
    dataType: 'script',
    success: function() {
      $("#new_password_form").reset();
    }
  });
</script>
