<h2><%= I18n.t('users.profile.password.heading') %></h2>

<% semantic_form_for @user, :url => url_for(:controller => 'users/users', :action => 'update_password'), :html => { :id => 'new_password_form' } do |form| %>

  <% form.inputs do %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
  <% end %>
  
  <% form.buttons do %>
    <%= form.commit_button I18n.t('application.general.save'), :button_html => { :alt => 'submit_button' } %>
  <% end %>

<% end %>

<script type="text/javascript">
  $("#new_password_form").ajaxForm({ 
    dataType: 'script',
    success: function() {
      $("#new_password_form").reset();
    }
  }); 
</script>

