<h2>Personal Information</h2> (<%= link_to_remote 'edit', { :url => edit_profile_path, :method => :get } %>)

<div class="comment">
  These are your profile information. Use the edit button to update them,
  change your password or set a new image.
</div>

<ul>
  <li>
    <span class="title">Name</span>
    <%=h @user.full_name %>
  </li>
  <li>
    <span class="title">Gender</span>
    <%=h @user.get_gender %>
  </li>
  <li>
    <span class="title">Country, City</span>
  </li>
</ul>