<h2>Picture upload</h2>
<% form_for @user, :url => profile_path, :html => { :multipart => true, :id => 'upload_picture_form' } do |f| %>
  <%= f.file_field :picture %><br/>
<% end %>

  <div id="uploading_progress" style="display:none;">uploading.. <%= image_tag 'indicator.gif' %></div>

  <script type="text/javascript">
    $('#upload_picture_form').submit(function() {
      // submit the form
      $(this).ajaxSubmit({
        beforeSend: function() { $('#uploading_progress').show(); },
        complete:   function() { $('#uploading_progress').hide(); },
        success:    function(data, status) {
          $.ajax({type:'get', dataType: 'script', url:"<%= url_for(:controller => 'users/profile', :action => 'reload_pictures') %>"});
          $('#dialogContent').dialog('close');
        }
      });
      // return false to prevent normal browser submit and page navigation
      return false;
    });
  </script>