<% insert_breadcrumb(echologic_path, data_privacy_path, '.title', false) %>

<p><%= t('.text') %></p>

<%= link_to (t('.open_document'), '/resources/Datenschutz_echologic.pdf', {:target => 'blank'}) %>