<h1><%= t('static_content.echologic.title') %></h1>
<h4><%= t('.title') %></h4>

<p><%= t('.text') %></p>

<%= link_to (t('.open_document'), '/resources/Datenschutz_echologic.pdf', {:target => 'blank'}) %>