<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<p><%= t('.aim') %></p>

<% insert_toggle_more(t('.aim_more')) %>

<p><%= t('.action') %></p>

<script type="text/javascript" charset="utf-8">
	$$(".ttLink").each( function(link) {
		new Tooltip(link, {backgroundColor: "#7ab031", opacity: 1, borderColor: "#7ab031", textColor: "#fff", textShadowColor: "#7ab031", delay: "100"});   
  });
</script>


