<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<% insert_breadcrumb(echo_path) %>

<p><%= t('.text_top') %></p>

<ol><%= t('.list') %></ol>

<p><%= t('.text_bottom') %></p>

<% insert_back_next_buttons(echo_discuss_path, echo_act_path) %>