<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<h1><%= t('static_content.echo.title') %></h1>
<h4><%= t('.title') %></h4>

<p><%= t('.text') %></p>

<% insert_back_next_buttons(echo_act_path, echocracy_path) %>