<h1><%= t('.title') %></h1>
<ul>
	<li><%= link_to t('static_content.echo.title') + " - " + t('static_content.echo.subtitle'), :action => "echo" %></li>
	<li><%= link_to t('static_content.echocracy.title') + " - " + t('static_content.echocracy.subtitle'), :action => "echocracy" %></li>
	<li><%= link_to t('static_content.echonomy.title') + " - " + t('static_content.echonomy.subtitle'), :action => "echonomy" %></li>
</ul>
