<h1><%= t('.title') %></h1>
<h4><%= t('.subtitle') %></h4>

<%= t('.teaser') %>
<% insert_toggle_more(t('.teaser_more')) %>

<p><%= t('.action') %></p>

<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>


