<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echocracy' %>
<% end %>

<% insert_breadcrumb(echocracy_path, echocracy_path) %>

<p><%= t('.text_top') %></p>

<ol><%= t('.list') %></ol>

<%= t('.text_bottom') %>

<!--<% insert_toggle_more(t('.echocracy_more')) %>-->

<% insert_illustrations([echocracy_citizens_path, 
                         echocracy_scientists_path,
                         echocracy_decision_makers_path,
                         echocracy_organisations_path]) %>

<% insert_back_next_buttons(echo_echo_on_waves_path, echocracy_citizens_path) %>