<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echo' %>
<% end %>

<% insert_breadcrumb(echo_path) %>

<p><%= t('.text_top') %></p>

<ul><%= t('.possible_actions') %></ul>

<%= t('.text_middle') %>

<% insert_toggle_more(t('.act_more')) %>

<% insert_back_next_buttons(echo_connect_path, echo_echo_on_waves_path) %>