<% content_for :tabContainer do %>
  <%= render :partial => 'tabs_echonomy' %>
<% end %>

<% insert_breadcrumb(echonomy_path) %>

<p>
   <%= t('.text', :tooltip_nonprofit => t('.tooltip_nonprofit'), :tooltip_costneutral => t('.tooltip_costneutral')) %>
</p>

<% insert_back_next_buttons(echonomy_path, echonomy_foundation_path) %>


<script type="text/javascript" charset="utf-8">
  $$(".ttLink").each( function(text) {
    new Tooltip(text);
  });
</script>
