<div class="testContainer">
  <div class="testContainerTop">
    <div class="testContainerTopLeft"></div>
    <div class="testContainerTopRight"></div>
  </div>
  <div class="testContainerMiddle">
    <div class="testContainerLeft"></div>
    <div class="testContainerContent">
  <h1><%= t('.title') + " - " + t('.subtitle') %></h1>
  <ul>
  	<li><%= link_to t('static_content.echocracy_citizens.title'), :action => "echocracy_citizens" %></li>
  	<li><%= link_to t('static_content.echocracy_experts.title'), :action => "echocracy_experts" %></li>
  	<li><%= link_to t('static_content.echocracy_orgas.title'), :action => "echocracy_orgas" %></li>
  </ul>
    </div>
    <div class="testContainerRight"></div>    
  </div>
  <div class="testContainerBottom">
    <div class="testContainerBottomLeft"></div>
    <div class="testContainerBottomRight"></div>
  </div>  
</div>
