<div style="clear:both;">
  <h1><%= t('.title') + " - " + t('.subtitle') %></h1>
  <ul>
    <li><%= link_to t('static_content.echo.discuss.title'), :action => "echo_discuss" %></li>
    <li><%= link_to t('static_content.echo.connect.title'), :action => "echo_connect" %></li>
    <li><%= link_to t('static_content.echo.act.title'), :action => "echo_act" %></li>
  </ul>
</div>

<div class="box">
  some bla
</div>