<h1>Listing reports</h1>

<div id="active_reports_container" style="width:300px; float:left;">
  <h2>Active reports</h2>
  <%= @active.count %> active reports:
  <ul>
    <%= render @active %>
  </ul>
</div>

<div id="done_reports_container" style="width:300px; float:left; border-left:1px solid #ccc; padding-left:20px;">
  <h2>Done reports</h2>
  <%= @done.count %> done reports:
  <ul>
    <%= render @done %>
  </ul>
</div>

<div id="profile_details_container" style="width:300px; float:right; border-left:1px dotted #ccc; padding-left:20px;">
  
</div>

