<li>
  <% form_tag user_web_profiles_path(@user), :method => :post, :id => dom_class(WebProfile, :new) do -%>
      <%= select :web_profile, :sort, WebProfile.sorts.sort.collect { |k,v| [v,k] } %>

      <%= text_field :web_profile, :location, :value => '' %>

      <%= submit_tag I18n.t('application.general.create'), :class => 'text_button add_button', :id => 'new_web_profile_submit' %>
  <% end %>
</li>

<script type="text/javascript">
  $("#<%= dom_class(WebProfile, :new) %>").ajaxForm({ dataType: 'script' });
</script>
