
<% unless @profile.concernments.blank? %>

  <% Concernment.sorts.each do |sort, name| %>
    <% concernments = @profile.concernments.find_all_by_sort(sort) %>
    <% unless concernments.blank? %>
      <span class="label"><%= I18n.t("users.concernments.sorts.#{name}") %></span>
      <span id="values">
        <%= concernments.collect { |c| c.tag.value }.join(', ') %>
      </span>
    <% end %>
  <% end %>
  
<% else %>
  <span class="no_results"><%= I18n.t('connect.messages.no_concernments') %></span>
<% end%>
