<% Concernment.sorts.each do |sort, name| %>

  <% concernments = @profile.concernments.find_all_by_sort(sort) %>
  <% unless concernments.empty? %>
    <h2><%= name %></h2>
    <div id="concernments_<%= sort %>" style="clear: both;">
      <% for concernment in concernments do %>
        <span id="<% dom_id concernment %>"><%=h concernment.tag.value %></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @profile.concernments.empty? %>
  text: Der Benutzer hat keine Kompetenz(?) eingetragen.
<% end%>
