
<ul>
  <% if not @profiles.empty? %>
    <%= render :partial => 'connect/profiles/profile', :collection => @profiles %>
  <% else %>
    <span class="no_results"><%= I18n.t('connect.messages.empty') %></span>
  <% end %>
</ul>

