<ul>

  <% # Hash with the symbols used for attribute i18n and getting the content of the profile.

  attr_hash = [[:full_name, :full_name],
                  [:location, :location],
                  [:gender, :localized_gender],
                  [:about_me, :about_me],
                  [:motivation, :motivation] ] %>

  <% attr_hash.each do |label, method| %>
    <li>
      <span class="label"><%= Profile.human_attribute_name(label) %></span>
      <%=h @profile.send(method) %>
    </li>
  <% end %>

</ul>

<div>
  <% for membership in @profile.memberships do %>
    <%=h membership.organisation %> <%=h membership.position %>
  <% end %>
</div>
