
<% unless @profile.web_profiles.blank? %>

  <% WebProfile.sorts.sort {|x,y| x[0] <=> y[0] }.each do |sort, name| %>
    <% web_profiles = @profile.web_profiles.find_all_by_sort(sort) %>
    <% unless web_profiles.blank? %>
      <span class="label"><%= name %></span>
      <span class="values">
        <%= web_profiles.collect { |wp| auto_link(sanitize(wp.location), :all, :target => '_blank' )}.join(', ') %>
      </span>
    <% end %>
  <% end %>

<% else %>
  <span class="no_results"><%= I18n.t('connect.messages.no_web_profiles') %></span>
<% end%>
