<div id="messageContainer">
  <div id="infoBox" class="ui-state-highlight" style="display:none;">
    <div class="ui-icon ui-icon-info infoErrorIcon"></div>
    <div class="message">Message</div>
  </div>
  <div id="errorBox" class="ui-state-error" style="display:none;">
    <div class="ui-icon ui-icon-alert infoErrorIcon"></div>
    <div class="message">Message</div>
    <a class="closeButton" href="close" onclick="$('#errorBox').stop(); return false;">
      <%= I18n.t('application.general.close') %>
    </a>
  </div>
</div>

<script type="text/javascript">
  <% if flash[:notice] %>
    info('<%= flash[:notice] %>');
  <% elsif flash[:error] %>
    error('<%= flash[:error] %>');
  <% end %>
</script>
