<%= link_to_remote("<h1 class='link'>#{t('static_content.echologic.title')}</h1>", {:url => echologic_path}, :href => echologic_path) %>
<h2><%= t('feedback.new.title') %></h2>

<%= t('.thank_you') %>
<br/>

<% insert_back_next_buttons(join_path, echologic_path) %>