<%= link_to_remote("<h1 class='link'>#{t('.title')}</h1>", {:url => join_path}, :href => join_path) %>
<h2><%= t('.subtitle') %></h2>

<%= t('.thank_you') %>
<br/>
<span class='formButton250'><%= t('.back') %></span>


