<div id="bottomMenuContainer">
  echologic (2009)
  <%= link_to(I18n.t('layouts.outer_menu.imprint'), static_path(:imprint), :class => 'outerMenuItem') %>
  <%= link_to(I18n.t('layouts.outer_menu.data_privacy'), static_path(:data_privacy), :class => 'outerMenuItem') %>
</div>