<div id="bottomMenuContainer">
  echologic (2009) 
  <%= link_to_remote t('.imprint'), {:url => imprint_path}, :href => imprint_path %>
  <%= link_to_remote t('.data_privacy'), {:url => data_privacy_path}, :href => data_privacy_path %>
</div>