<div id="loginContainer">
  <span class="label">E-Mail:</span>
  <span class="label">Password:</span><br>
  <%= text_field 'login', 'login', :class => 'field' %>
  <%= text_field 'pw', 'pw', :class => 'field' %>
  <%= submit_tag 'Login', :class => 'submit' %><br>
  <span class="sublabel"><% check_box('remember', 'me') %> remember me</span>
  <span class="sublabel">forgot your password?</span>
</div>