<div id="metaMenuContainer">
  <%= link_to t('.language'), '#' %>
  <%= link_to_remote t('.imprint'), {:url => imprint_path}, :href => imprint_path %>
  <%= link_to t('.about'), '#' %>
  <%= link_to t('.feedback'), '#' %>
</div>