<div id="newsContainer" class="roundedBox">
  <div id="twitterBird" class="ttLink" title="<%= I18n.t('static.echologic.show.twitter') %>">
    <%= link_to(image_tag('page/echologic_twitter.png'), "http://www.twitter.com/echologic", {:target => "_blank" }) %>
  </div>
  <div id="newsHolder">
    <div class="newsTitle"><%= I18n.t('static.echologic.show.news_title') %></div>
    <%= get_twitter_content %>
  </div>
</div>
