<div id="topMenuContainer">
  <%= link_to t('.language'), '#' %>
  <%= link_to t('.feedback'), new_feedback_path %>
<!--  <%= link_to_remote t('.imprint'), {:url => imprint_path}, :href => imprint_path %> -->
  <%= link_to t('.about'), '#' %>
</div>